/* Body */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: MidnightBlue;
  font-weight: 100;
  letter-spacing: 4%;

  background-size: 750px 240px;
  background-image: url(/background.svg);
  background-attachment: fixed;

  margin: 2%;

  cursor: default;
}

/* Google Icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 15;
}

/* Buttons */

button {
  font-family: "Sigmar", sans-serif;
  color: White;
  background-color: MidnightBlue;

  border: 5px solid Coral;
  border-radius: 10px;

  padding: 10px;
  margin: 5px;
}

button:hover {
  color: MidnightBlue;
  background-color: Coral;

  border: 5px solid MidnightBlue;
}

/* Forms */

input[type="file"] {
  display: none;
}

select,
input,
textarea {
  color: MidnightBlue;

  border: 2px solid MidnightBlue;

  border-radius: 10px;

  padding: 5px;
  margin: 5px;
}

select,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

textarea {
  resize: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:focus,
textarea:focus {
  border: 5px solid MidnightBlue;
}

.inline-form {
  display: inline;
}

/* Divs */

.emoji {
  font-size: clamp(
    0.75rem,
    0.152rem + 2.553vw,
    1.875rem
  ); /* Scale between 12px at 375px and 30px at 1080px */
}

.white-bg,
.flexbox div {
  background-color: White;

  border: 1px solid #d1d1e2;
  border-radius: 10px;

  padding: 10px;
  margin: auto;
}

.white-bg {
  min-width: 340px;
  width: 50%;
}

.gray-hover:hover {
  background-color: #f4f4f8;
}

/* h1 */

h1 {
  font-family: "Sigmar", sans-serif;
}

h1,
.modal-img {
  display: inline-block;
}

/* Game info */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#up-next {
  width: calc(75% - 85px);
}

/* Results */
hr {
  border: none;
  height: 1px;
  background-color: #d1d1e2;
}

/* CustomDeckList */

.custom-deck-list {
  text-align: left;
  list-style-type: none;
}

.custom-deck-list-item {
  padding: 5px 0px;
}

/* Instructions */

#instructions {
  text-align: left;
  width: 90%;
}

#issues,
issues:visited {
  color: MidnightBlue;
  text-decoration: none;
}

#issues:hover {
  color: Coral;
}

/* Shake Animation */
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */

/* Media query to enable shake effect only if device supports hover */

@media (hover: hover) {
  .shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Pulsate Animation */

.pulsate {
  animation: pulsate 0.5s ease-in-out infinite both;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
